@import "_colors.less";

@formHeight: 35px;
@textSize: @formHeight - 8;

.indexInfo {
  width: 500px!important;
  float: auto;
  margin: 0 auto;
  font-size: @formHeight;
  border-radius: 4px;
  padding: 10px;
  color: @textColor;
  line-height: @formHeight - 3;

  .error {
    margin-top: 17px;
    margin-left: -3px;
    color: #b94a48;
    background-color: #f2dede;
    width: 83%;
  }

  .formBar {
    position: relative;
    font-size: @textSize;
  }

  .icon-github {
    position: absolute;
    font-size: @formHeight + 10;
    left: -55px;
    color: black
  }

  input {

    border-radius: 0px;
    height: @formHeight;
    border: none;
    background-color: @formsBackground;
    margin: 0px -3px;
    font-size: @formHeight - 3;
    font-weight: 400;
    line-height: @formHeight - 3;

    &:hover {

      background-color: #ff994d !important;
    }

    &:focus {

      background-color: #ff994d !important;
    }
  }

  span {
    // circled numbers
    display: inline-block;
    border: 2px solid @textColor;
    border-radius: 27px;
    width: 22px;
    text-align: center;
    font-size: 24px;
  }

  .expletation {
    margin: 15px 0px;

    p {
      font-size: @textSize;
    }
  } 
}
